<div class="container-fluid zp about-me">
  <div class="row zp" id="footer">
    <div class="col-md-4 pad">
      <p>2015 © ONV MISTERBIT INC</p>
    </div>
    <div class="col-md-4">
      <p>Hosted by &nbsp; <a href="https://github.com/OfirNadav" target="_blank"><img src="assets/img/github.jpg"
                                                                                      alt="logo github"></a></p>
    </div>
    <div class="col-md-4 pad socialbot">
      <ul>
        <li><a href="https://www.linkedin.com/in/OfirNadav" target="_blank"><span class="sociconbot">j</span></a></li>
      </ul>
    </div>
  </div>
</div>
