<div class="container-fluid about-panel prx-b" id="header">
  <div class="row">
    <div class="col-sm-4">
      <onv-menu></onv-menu>
    </div>
    <div class="col-sm-4">
      <a routerLink="/"><img src="assets/img/logo.png" /></a>
    </div>
    <div class="col-sm-4 social no-space">
      <ul class="hde-social">
        <li>
          <a href="https://www.linkedin.com/in/OfirNadav" target="_blank"
            ><span class="socicon">j</span></a
          >
        </li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="caption-sub p-bottom-5">
        <h1 data-sr="enter top over 1s">About ONV, Ofir Nadav</h1>
        <span data-sr="enter bottom over 1s"
          >Web Master, Front-End Developer</span
        >
      </div>
    </div>
  </div>
</div>

<div class="container-fluid zp">
  <div class="row">
    <div class="col-sm-12 bgwhite" id="body">
      <p data-sr="enter top wait 1s" class="text-center">
        <img src="assets/img/myprofile.png" class="profile" />
      </p>
      <div class="container wrap">
        <div class="row">
          <div class="col-sm-8">
            <h1>About Me</h1>
            <p>
              Hello, I’m Ofir Nadav, a Front-End and Back-End Developer
              specializing in Web Development and Digital Media,<br /><br />

              Also interested in DevOps, Serverless, UX, UI, and PM.<br /><br />

              I always into learning new things when it comes about web. It will
              be my playground to enhance every aspects as a creative code.<br /><br />
            </p>
          </div>
          <div class="col-sm-4">
            <div class="padl1">
              <h1>Contact</h1>
              <form
                role="form"
                method="post"
                action="mailto:ofir@misterbit.co.il"
              >
                <div class="form-group">
                  <label for="name">Name</label>

                  <input
                    type="text"
                    class="form-control"
                    id="name"
                    name="name"
                    placeholder="First & Last Name"
                    value=""
                  />
                  <p class="text-danger"></p>
                </div>
                <div class="form-group">
                  <label for="email">Email</label>

                  <input
                    type="email"
                    class="form-control"
                    id="email"
                    name="email"
                    placeholder="example@domain.com"
                    value=""
                  />
                  <p class="text-danger"></p>
                </div>
                <div class="form-group">
                  <label for="message">Message</label>

                  <textarea
                    class="form-control"
                    rows="6"
                    name="message"
                    id="message"
                  ></textarea>
                  <p class="text-danger"></p>
                </div>
                <!--<div class="form-group">-->
                <!--<label for="human">2 + 3 = ?</label>-->
                <!--<input type="text" class="form-control" id="human" name="human" placeholder="Your Answer">-->
                <!--<p class='text-danger'></p>						-->
                <!--</div>-->
                <div class="form-group">
                  <input
                    id="submit"
                    name="submit"
                    type="submit"
                    value="Send"
                    class="btn btn-default btn-lg"
                  />
                </div>
              </form>
              <p>&nbsp;</p>
              <p>&nbsp;</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12" id="call">
      <h1 data-sr="enter top over 1s">
        <span>I'd like to share you with my </span>
        <a
          href="assets/docs/ONV-Resume.pdf"
          class="ghost-button"
          target="_blank"
          >CV</a
        >
        &nbsp;
      </h1>
    </div>
  </div>
</div>
