<div class="container-fluid skills" id="technical">
  <div class="row skills-icons">
    <div class="col-sm-2" data-sr="enter bottom over 0.2s">
      <h1>Skills</h1>
    </div>
    <div class="col-sm-2" data-sr="enter bottom over 0.4s">
      <img src="assets/img/ico-web.png" alt="ico web">
      <span>Web</span>
    </div>
    <div class="col-sm-2" data-sr="enter bottom over 0.6s">
      <img src="assets/img/ico-coding.png" alt="coding">
      <span>Coding</span>
    </div>
    <div class="col-sm-2" data-sr="enter bottom over 0.8s">
      <img src="assets/img/ico-social.png" alt="social">
      <span>Social</span>
    </div>
  </div>
</div>
