<div class="container-fluid portfolio-panel prx-b" id="header">
  <div class="row">
    <div class="col-sm-4">
      <onv-menu></onv-menu>
    </div>
    <div class="col-sm-4">
      <a routerLink="/"><img src="assets/img/logo.png"></a>
    </div>
    <div class="col-sm-4 social no-space">
      <ul class="hde-social">
        <li><a href="https://www.linkedin.com/in/OfirNadav" target="_blank"><span class="socicon">j</span></a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="caption-sub">
        <h1 data-sr="enter top over 1s">Portfolio</h1>
        <span data-sr="enter bottom over 1s">Projects</span>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid zp">
  <div class="row">
    <div class="col-sm-12 bgwhite no-space" id="body">
      <div class="container wrap">
        <p>&nbsp;</p>
        <div class="row card" data-sr="enter bottom over 0.6s">
          <div class="col-md-4">
            <h1>Crimes Management</h1>
            <p>Web app for Chicago police department to manage crimes.</p>
            <p><strong>Functions</strong><br />HTML5 / CSS3 / AngularJS </p>
            <p>&nbsp;</p>
            <a href="//crimesMgmt.ofirnadav.com" target="_blank"><p class="ghost-button-sub">Visit Website</p></a>
          </div>
          <div class="col-md-8 m-img-top"><img src="assets/img/web-crimes.jpg" class="img-responsive"></div>
        </div>

        <div class="row card" data-sr="enter bottom over 0.6s">
          <div class="col-md-4">
            <h1>KataRzis</h1>
            <p>Web app for finding the next train.... Fast.</p>
            <p><strong>Functions</strong><br />HTML5 / CSS3 / IONIC / AngularJS / MongoDB / NodeJS</p>
            <p>&nbsp;</p>
            <a href="//katarzis.ofirnadav.com/" target="_blank"><p class="ghost-button-sub">Visit Website</p></a>
          </div>
          <div class="col-md-8 m-img-top"><img src="assets/img/phone-katarzis.jpg" class="img-responsive"></div>
        </div>

        <div class="row card" data-sr="enter bottom over 0.6s">
          <div class="col-md-4">
            <h1>GameDevs</h1>
            <p>Free Online Games & Adventure. Play our fun & popular games! Play for free and completely without ads!</p>
            <p><strong>Functions</strong><br />HTML5 / CSS3 / JS / AngularJS </p>
            <p>&nbsp;</p>
            <a href="//gameDevs.ofirnadav.com" target="_blank"><p class="ghost-button-sub">Visit Website</p></a>
          </div>
          <div class="col-md-8 m-img-top"><img src="assets/img/web-gamedevs.jpg" class="img-responsive"></div>
        </div>

        <div class="row card" data-sr="enter bottom over 0.6s">
          <div class="col-md-4">
            <h1>My Old Portfolio</h1>
            <p>My first and old portfolio. Write on vanilla javascript and pure css</p>
            <p><strong>Functions</strong>: HTML5 / CSS / JS </p>
            <p>&nbsp;</p>
            <p class="ghost-button-sub">Offline</p>
          </div>
          <div class="col-md-8 m-img-top"><img src="assets/img/web-oldPortfolio.jpg" class="img-responsive"></div>
        </div>

        <div class="clearfix"></div>
      </div>
    </div>
    <div class="col-sm-12" id="call">
      <h1 data-sr="enter top over 1s">
        <span>I'd like to share you with my </span>
        <a href="assets/docs/ONV-Resume.pdf" class="ghost-button">CV</a> &nbsp;
        <!--<a href="docs/ONV-Portfolio.pdf" class="ghost-button">Portfolio</a>-->
      </h1>
    </div>
  </div>
</div>
