<div class="container-fluid zp about-me">
  <div class="row">
    <div class="col-sm-12 p-bottom" id="body">
      <p data-sr="enter bottom over 0.6s" class="text-center">
        <a href="about.html">
          <img src="assets/img/myprofile.png" class="profile" alt="profile">
        </a>
      </p>
      <p>&nbsp;</p>
      <h1 class="text-center">About Me</h1>
      <p class="wrap text-center">Hello, I’m Ofir Nadav, a Front-End and Back-End Developer
        specializing in Web Development and Digital Media, <br />

        Also interested in DevOps, Serverless, UX, UI, and PM. <br />

        I always into learning new things when it comes about web.
        It will be my playground to enhance every aspects as a creative code.
      </p>
    </div>
    <div class="col-sm-12" id="call">
      <h1 data-sr="enter top over 1s">
        <span>I'd like to hear about your project!</span>
        <a href="mailto:ofir.nadav@gmail.com" class="ghost-button">Say Hello</a>
      </h1>
    </div>
  </div>
</div>
