<div class="container-fluid prx-b main-view" id="header">
  <div class="row">
    <div class="col-sm-4">
      <onv-menu></onv-menu>
    </div>
    <div class="col-sm-4 z1">
      <a routerLink="/">
        <img src="assets/img/logo.png" alt="logo ONV MISTERBIT INC">
      </a>
    </div>
    <div class="col-sm-4 social no-space z1">
      <ul class="hde-social">
        <li><a href="https://www.linkedin.com/in/OfirNadav" target="_blank">
          <span class="socicon">j</span></a></li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="caption">
        <h1 class="element"></h1>
        <span>Hello, I'm Ofir Nadav, specializing in web coding, full-stack<br/> development and digital media.</span>

        <p class="m-button">
          <a href="assets/docs/ONV-Resume.pdf" class="ghost-button" target="_blank">CV</a>
        </p>

        <div id="mice">
          <div class="mouse">
            <div class="wheel"></div>
          </div>
          <div>
            <span class="unu"></span>
            <span class="doi"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
